.a{
	color: #ffffff
}
.b{
	display:inline-block;
	width: 400px;
	background-color: #3011FF;
	margin: 10px;
	padding: 10px;
}
.c{
	display:inline-block;
	width: 400px;
	background-color: #999333;
	margin: 10px;
	padding: 10px;
}
.d{
	background-color:#000000;
	

}
.e{
	margin: 0 auto;
}